body{
display:flex;
justify-content:center; 
align-items:center; 
background-color: #dc94f4;
overflow:hidden;
}
.circle{
    width:2vw;
    height:2vw;
    background-color: rebeccapurple;
    border-radius: 500px;
    z-index: 1000;
    border:none;
    cursor:help;
}
.circle:hover{
    background-color: rgb(89, 44, 134);
}
.circle:active{
    background-color: rgb(76, 37, 115);
}
.parent{
    margin: auto;
    display: flex;
    justify-content:center; 
align-items:center;    
    position: absolute;
    transform: scale(0.55);
    border-radius:500%;
    cursor:pointer;
}
.parent:hover{
    text-decoration: underline;
}
.container{
top:0;
width:100vw;
height:100vh;
display:flex;
position:absolute;
justify-content:center; 
align-items:center;
}
.win{
    display:none;
    font-size:20vw;
    z-index:-100;
    opacity:25%;
    color:rebeccapurple;
    position: absolute;
}
.para, p{
    color:black;
    position: absolute;
    margin: auto;
    font-size: 50px;
    font-family: monospace;
    user-select: none;
    -webkit-user-select: none;
    cursor:pointer;
}
